.login-container{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    text-align: left;
    height:100vh;
    padding:40px 20px;
    background-color: #F7F8F9;
    gap:25px;
  box-sizing: border-box;
}

.login-container h2{
    font-size: 28px;
    font-weight: medium;
    color:#1D2226;
}
.login-container p{
    font-size: 18px;
    font-weight: regular;
    color:#1D2226;
    opacity:0.6;
}
.log-btn{
    padding:15px;
    width:320px;
    border-radius: 6px;
    text-align: center;
    font-size:17px;
    font-weight: 600;
    background-color:#CBCBCB;
    color:#FFFFFF;
}
