@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin:0;
  padding:0px;
  border:none;
}

body {
   width:360px;
  margin:auto;
  border:1px solid #cbcbcb5e;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

